<h1 class="page-title">Post flag</h1>
<div class="card border-light">
  <div class="card-body">

      <%= form.label :title %>
      <%= form.text_field :name, class: "form-control" %>

  </div>
</div>