<h1 class="page-title">Flag </h1>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><%= link_to 'Flag Manager', flags_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Flag </li>
  </ol>
</nav>
<div class="card border-light">
  <div class="card-body">

  </div>
</div>
