/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require hint
 */

@import "bootstrap";
@import "hint";
@import "font-awesome";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Proxima Nova Alt", Helvetica, Arial, sans-serif;
  font-size: 0.9em;
  background-color: #ebedf2;
  color: #6a7279;
}

a:hover {
  text-decoration: none;
  color: #4db8ff
}

h1 {
  color: #007bff;
  font-size: 1.5rem;
  font-weight: bold;
}

.small-select {
  font-size: 10pt;
}

.page-title {
  padding: 1px 0px 0px 5px;
}

.card {
  box-shadow: 0 0.27778rem 1.11111rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 0.44444rem !important;
  margin: 0 0 10px 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 93%;
  }
}

.table td {
  vertical-align: middle;
}

.container {
  padding: 85px 15px 0;
  margin-left: 125px;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.breadcrumb {
  background-color: #ffffff;
}

.pictureThumb{
  width:30px;
  height:30px;
}