// Place all the styles related to the flags controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.info-group {
}

.label-info{
  font-weight: bold;
  margin-bottom: 0;
}

.info {
  padding: 0.325rem;
  color: #495057;
}