<h1 class="page-title">Reports</h1>
<div class="card border-light">
  <div class="card-body">
    <div class="alert alert-danger" role="alert">
      <h2>Sorry !</h2>
      <li> The report service is temporary unavailable</li>
      </ul>
    </div>
  </div>
</div>