<%= stylesheet_link_tag 'sidebar' %>
<nav class="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a routerLink="/dashboard" href="" routerLinkActive="sidebar-active">
        <i class="fa fa-tachometer menu-icon" aria-hidden="true"></i>
        Home
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-cube menu-icon" aria-hidden="true"></i>
        Opportunity Identification
      </a>
    </li>
    <li>
      <a routerLink="/initiative" href="" routerLinkActive="sidebar-active">
        <i class="fa fa-paper-plane menu-icon" aria-hidden="true"></i>
        Initiative Manager
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-rocket menu-icon" aria-hidden="true"></i>
        Automation Launcher
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-cogs menu-icon" aria-hidden="true"></i>
        Robot Workforce Manager
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-book menu-icon" aria-hidden="true"></i>
        Process Catalog
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-calendar menu-icon" aria-hidden="true"></i>
        Appointment Planner
      </a>
    </li>
    <li>
      <a href="javascript:;">
        <i class="fa fa-star menu-icon" aria-hidden="true"></i>
        Continuous Improvement
      </a>
    </li>
  </ul>
</nav>