<%= stylesheet_link_tag 'sidebar' %>
<nav class="sidebar">
  <ul class="list-unstyled components">
    <li>
      <a href="" routerLinkActive="sidebar-active">
        <i class="fa fa-home menu-icon" aria-hidden="true"></i>
        Home
      </a>
    </li>
    <li>
      <a href="" routerLinkActive="sidebar-active">
        <i class="fa fa-bar-chart menu-icon" aria-hidden="true"></i>
        Reports
      </a>
    </li>
  </ul>
</nav>