<%= stylesheet_link_tag 'sidebar' %>
<nav class="sidebar">
  <ul class="list-unstyled components">
    <li>
      <%= link_to '<i class="fa fa-home menu-icon" aria-hidden="true"></i> Home'.html_safe, flags_path %>
    </li>
    <li>
      <%= link_to '<i class="fa fa-flag menu-icon" aria-hidden="true"></i> Add Flag'.html_safe, new_flag_path %>
    </li>
    <li>
      <a href="">
        <i class="fa fa-envelope menu-icon" aria-hidden="true"></i>
        Send Invitation
      </a>
    </li>
  </ul>
</nav>