<%= stylesheet_link_tag 'sidebar' %>
<nav class="sidebar">
  <ul class="list-unstyled components">
    <li>
      <%= active_link_to '<i class="fa fa-home menu-icon" aria-hidden="true"></i> Home'.html_safe, home_index_path, active: :inclusive %>
    </li>
    <li>
      <%= active_link_to '<i class="fa fa-flag menu-icon" aria-hidden="true"></i> Flag Manager'.html_safe, flags_path, active: :inclusive %>
    </li>
    <li>
      <%= active_link_to '<i class="fa fa-bar-chart menu-icon" aria-hidden="true"></i> Reports'.html_safe, reports_path, active: :inclusive %>
    </li>
  </ul>
</nav>