<%= stylesheet_link_tag 'signup' %>
<div class="singup-container">
  <h1 class="page-title">Signup</h1>
  <div class="card border-light">
    <div class="card-body">
      <div class="alert alert-danger" role="alert">
        <h2>Sorry !</h2>
        <li> The invitation service is temporary unavailable</li>
        </ul>
      </div>
    </div>
  </div>
</div>